<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347107196998-tk2kl8qogqj3ptn1ip0ealtg065hvka7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347107196998-tk2kl8qogqj3ptn1ip0ealtg065hvka7</string>
	<key>API_KEY</key>
	<string>AIzaSyAz4LNkUli8shGoPtWWrhMRYT02qV3XxUM</string>
	<key>GCM_SENDER_ID</key>
	<string>347107196998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appBiomecanica</string>
	<key>PROJECT_ID</key>
	<string>biomecanica-d2746</string>
	<key>STORAGE_BUCKET</key>
	<string>biomecanica-d2746.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347107196998:ios:24c78ccdc1e677b6e78a47</string>
	<key>DATABASE_URL</key>
	<string>https://biomecanica-d2746-default-rtdb.firebaseio.com</string>
</dict>
</plist>